<header>
  <nav>
    <ul>
      <li>
        <a href="/">
          <img id="icon" src="/favicon.svg" alt="Front page" />
        </a>
      </li>
      <%= render "shared/links" %>
    </ul>
  </nav>
</header>